body {
    font-family: "Gill Sans", sans-serif;
    padding: 20px;
}

.debits {
    display: flex;
    justify-content: center;
}

.debits p {
    min-width: 200px;
}
input {
    padding: 15px;
    border: 1px solid #ccc2be;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 200px;
}

button {
    padding: 10px 15px;
    background-color: #a885e9;
    color: #ffeff4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}

button:hover {
    background-color: transparent;
}
